body{
  width: 100%;
}

.main-header{
  width:400px;
  height:100px;
  background-color: #f00;
  position: relative;
}

.purples{
  position: absolute;
  display: flex;
  top: 20px;
  left: 220px;
}
.purple{
  padding: 20px;
  background-color: #6729a0;
  border-top: 10px solid white;
  border-bottom: 10px solid white;
  border-right: 10px solid white;
}
.purple:nth-child(1){
  border-left: 10px solid white;
}

.main{
  display: flex;
  flex-wrap: wrap;
}
.main-left{
  float: left;
  width: 150px;
  height: 250px;
  background-color: #0a5;
}
.main-right{
  width: 250px;
  height: 250px;
  background-color: #2563eb;
  position: relative;
}

.oranges{
  position: absolute;
  display: inline-block;
  top: 35px;
  left: 35px;
}

.orange{
  width: 140px;
  height: 40px;
  background-color: #ff863f;
  border: 5px solid white;
  margin-bottom: 10px;
}

.main-footer{
  width: 400px;
  height: 100px;
  background-color: #fd0;
}